<h1>Description:</h1>
    
<!-- created an instance of the content for each blog post-->
<%= @blog.content %>
 <br/>
 <br/>
 <!--created link that will go back to the main page -->
<%= link_to "home", "/" %>
